
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <%= render 'form' %>
  </div>
  <div class="col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-2">
    <% @topics.each do |topic| %>
    <div class="panel">
      <div class="panel-heading">
        <%=image_tag topic.user.image_url %><%= topic.user.name %>さんが投稿しました。
      </div>
      <div class="panel-body">
        <p><%= topic.content %></p>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to '投稿を編集する', edit_topic_path(topic) %></li>
            <li><%= link_to '投稿を削除する', topic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </li>
        <% if topic.image.url %>
        <div class="thumbnail">
          <%= image_tag topic.image.url %>
        </div>
        <% end %>
        <%= link_to '', topic, class:"fa fa-comment-o" %>
        <%= render 'like_form', user: current_user, topic: topic %>
        <%= paginate @topics %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <%= render "like_index"%>
  </div>
</div>
